{% macro credential_eye() -%}
<svg class="eye-icon eye-show" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true" focusable="false">
  <path d="M2 12s3.5-7 10-7 10 7 10 7-3.5 7-10 7S2 12 2 12Z"></path>
  <circle cx="12" cy="12" r="3"></circle>
</svg>
<svg class="eye-icon eye-hide" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true" focusable="false">
  <path d="M2 12s3.5-7 10-7 10 7 10 7-3.5 7-10 7S2 12 2 12Z"></path>
  <circle cx="12" cy="12" r="3"></circle>
  <path d="M4 4l16 16"></path>
</svg>
{%- endmacro %}
